<!DOCTYPE html>
<html>
    <body>
        <h1>Exercise 2</h1>
        <p>In this exercise perform the following:</p>
        <ul>
            <li>Map the value to a letter grade using the following scheme &gt;=95 A, 80&lt;=B&lt;95, 79&lt;=C&lt;=70, 69&lt;=D&lt;=60, &lt;=59 F</li>
            <li>Display the result to the user</li>
            <li>If the value is outside the range between 0 and 100 indicate to the user to provide the information again</li>
        </ul>
        <form method="POST">
            <input name="name" placeholder="name">
            <input name="grade" placeholder="grade">
            <input type="submit">
            <p>{{var}}</p>
        </form>
    </body>
</html>