<!DOCTYPE html>
<html>
    <body>
        <h1>Exercise 4</h1>
        <p>In this exercise perform the following:</p>
        <ul>
            <li>Generate a random number between 1 and 100 </li>
            <li>Compare the generated number with the number entered</li>
            <li>If the numbers don't match generate a new random number</li>
            <li>Stop when the numbers are equal. Keep track of how many tries it took to match the numbers</li>
            <li>Display this information to the user</li>
        </ul>
        <form method="POST">
            <input name="number" placeholder="number between 0-100">
            <input type="submit">
            <p>{{var}}</p>
        </form>
    </body>
</html>