<!DOCTYPE html>
<html>
    <body>
        <h1>Exercise 5</h1>
        <p>In this exercise perform the following:</p>
        <ul>
            <li>Generate a display the Fibonacci Sequence up to the N-th number</li>
            <li>For information about the Fibonacci Sequence, see here: <a href="https://www.mathsisfun.com/numbers/fibonacci-sequence.html">Fibonacci</a></li>
        </ul>
        <form method="POST">
            <input name="number" placeholder="number > 1">
            <input type="submit">
            <p>{{var}}</p>
        </form>
    </body>
</html>