<!DOCTYPE html>
<html>
    <body>
        <h1>Exercise 3</h1>
        <p>In this exercise perform the following:</p>
        <ul>
            <li>Compute the square root of the value passed by the user</li>
            <li>Display the result to the user</li>
            <li>If the value is invalid indicate to the user to provide the information again</li>
        </ul>
        <form method="POST">
            <input name="value" placeholder="value">
            <input type="submit">
            <p>{{var}}</p>
        </form>
    </body>
</html>