<!DOCTYPE html>
<html>
    <body>
        <h1>Exercise 1</h1>
        <p>In this exercise perform the following:</p>
        <ul>
            <li>Determine if the dividend is odd or even or a multiple of 4</li>
            <li>Display the result to the user</li>
            <li>Determine if the dividend divides evenly by the divisor</li>
            <li>Display the result to the user</li>
        </ul>
        <form method="POST">
            <input name="dividend" placeholder="dividend">
            <input name="divisor" placeholder="divisor">
            <input type="submit">
            <p>{{variable}}</p>
        </form>
    </body>
</html>